<!DOCTYPE html>
<html>
<head><title>{{ site_title }}</title></head>
<body>
   <h1>Welcome to {{ site_title }}</h1>
   <p><strong>Hostname:</strong> {{ ansible_hostname }}</p>
   <p><strong>Port:</strong> {{ web_port }}</p>
</body>
</html>
